p1 {
    float: left;
}

#questionCard,
#gameOverCard,
#highScoreCard {
    display: none;
}


#highScoresLink,
#startOverLink {
    font-size: 50px;
}

#highScoreCardList {
    float: left;
}

#highScoreCardListTwo {
    float: right;
}

#playAgainButton,
#clearHighScoresButton {
    padding-bottom: 10px;
}

#timerCountdown {
    float: right;
    padding-right: 10px;
}

.card {
    width: 75%;
}

.btn

.hello {
    font-size: 100px;
}