* {
    font-family: Geneva, sans-serif;
    color: white;
}

p1 {
    float: left;
}

#questionCard,
#gameOverCard,
#highScoreCard {
    display: none;
}

#introCard,
#questionCard,
#gameOverCard,
#highScoreCard {
    background-color: blue;
    padding-left: 5px;
}

#questionCardHeader {
    font-size: 15px;
}

#quizStartButton,
#viewHighScoresButton {
    margin-top: 20px;
}

#playAgainButton {
    margin-right: 10px;
}

#highScoreCardList {
    float: left;
}

#highScoreCardListTwo {
    float: right;
}

#playAgainButton,
#clearHighScoresButton {
    padding-bottom: 10px;
}

#timerCountdown {
    float: right;
    padding-right: 10px;
    font-size: 25px;
    color: black;
}

.card {
    width: 75%;
}

.hello {
    font-size: 100px;
}